.banner {
  margin-top: 10px;
  .bx-viewport {
    @media (min-width: 1600px) {
      height: 720px !important;
    }
    height: 540px !important;
  }
}
.navbar {
  &.active {
    .partner-logos-block {
      height: 50%;
    }
  }
}
.partner-navbar {
  width: 80px;
  .partner-block {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .partner-title {
      font-size: 12px;
      color: #486994;
    }
    .partner-logos-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      .partner-logo-item {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
        &.km-vantagens {
          width: 54px;
          height: 54px;
          background-image: url(../images/logo-km-vantagens.png);
        }
        &.ipiranga {
          width: 54px;
          height: 16px;
          background-image: url(../images/posto-ipiranga-logo.png);
        }
      }
    }
  }
}
#bx-pager {
  width: 180px;
  position: absolute;
  top: 0;
  z-index: 9;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.slide-btn {
      width: 41px;
      height: 41px;
      margin-bottom: 25px;
      padding: 5px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    &.btn-truck {
      justify-content: flex-start;
      padding-left: 0;
    }
  }
}

.banner-home-1 {
  .container,
  .row {
    height: 100%;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .banner-block-info {
    width: 476px;
    padding: 0;
    padding-top: 27px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }
  .panel-top {
    .panel-title {
      color: #fa2400;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      font-size: 24.66px;
      margin-bottom: 15px;
    }
  }
  .panel-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-shadow: none;
    .panel-left,
    .panel-right {
      width: 50%;
      &.panel-white-label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
  .panel-block-content {
    padding: 0 32px;
    margin-bottom: 12px;
    &.panel-align-right {
      padding: 0 32px 0 58px;
    }
    img {
      margin: 0;
    }
    &.panel-img {
      padding-right: 0;
    }
    // &.panel-img-top {
    //     // margin-top: 20px;
    // }
    &.panel-block-moto {
      margin-bottom: 0;
      height: 50%;
      display: flex;
      align-items: center;
      .panel-list {
        margin-top: 0;
      }
    }
  }
  .blue-block {
    background-color: #20497d;
    padding: 13px 32px 9px;
    margin-bottom: 12px;
    .blue-text {
      color: #fff;
      font-size: 13px;
      line-height: 15px;
      .blue-text-bold {
        font-size: 17px;
        font-weight: bold;
      }
      .value-text {
        font-size: 25px;
        line-height: 25px;
      }
    }
  }
  .panel-bottom-block {
    .full-blue-block {
      background-color: #20497d;
      margin: 0 32px;
      padding: 6px 0;
      border: 1px solid transparent;
      &:hover {
        border-color: #20497d;
        background-color: #fff;
        .full-block-text {
          color: #20497d;
        }
      }
      .full-block-text {
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
    }
  }
  .powerby-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .power-text {
      font-size: 12px;
      color: #20497d;
      text-align: center;
      margin: 10px auto;
    }
    .power-brand {
      display: flex;
      padding-bottom: 12px;
      align-items: center;
      img {
        &:nth-of-type(1n) {
          margin-right: 11px;
        }
        &:nth-of-type(2n) {
          margin-left: 11px;
        }
        &:last-of-type {
          margin: auto;
        }
      }
    }
  }
}
.panel-list {
  list-style-image: url(../images/check.png);
  padding-left: 23px;
  margin-top: 20px;
  &.panel-list-casa {
    margin-top: 30px;
  }
  //   &.panel-list-caminhao {
  //     // margin-top: 0;
  //   }
  &.panel-helpdesk {
    .panel-list-item {
      font-size: 13px;
    }
  }
  .panel-list-item {
    color: #20497d;
    font-size: 16px;
  }
}
.panel-modal {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  top: 25px;
  height: calc(100% - 50px);
  *.modal-active {
    display: block;
  }
  .modal-top {
    background-color: #20497d;
    padding: 10px 26px;
    .modal-top-btn {
      display: flex;
      align-items: center;
      color: #fff;
      margin-right: 1px;
      &:after {
        content: '';
        display: block;
        width: 17px;
        height: 12px;
        background-image: url(../images/seta.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .panel-modal-content {
    padding: 6px 16px 21px;
    .panel-top-text {
      margin-bottom: 0;
      padding: 0 23px;
      color: #486994;
    }
    .panel-list-modal {
      margin-top: 11px;
      .panel-list-item {
        font-size: 12px;
        margin-bottom: 10px;
        .item-small {
          font-size: 9.58px;
        }
      }
    }
    .panel-title {
      font-size: 12.5px;
      color: #486994;
      line-height: 14.58px;
      font-weight: 700;
      padding: 0;
    }
  }
}
.bx-wrapper {
  .item {
    &.empresa {
      .pontos {
        .encanador {
          top: 100px;
          left: 635px;
          @media (min-width: 1600px) {
            top: 20%;
            left: 50%;
          }
          &:hover {
            &:after {
              content: 'Encanador';
            }
          }
        }
        .eletricista {
          top: 176px;
          left: 590px;
          @media (min-width: 1600px) {
            top: 34%;
            left: 45%;
          }
          &:hover {
            &:after {
              content: 'Eletricista';
            }
          }
        }
        .segurancavigilancia {
          top: 172px;
          left: 278px;
          @media (min-width: 1600px) {
            top: 32%;
            left: 23%;
          }
          &:hover {
            &:after {
              content: 'Segurança e Vigilância';
            }
          }
        }
        .chaveiro {
          top: 430px;
          left: 455px;
          @media (min-width: 1600px) {
            top: 80%;
            left: 36%;
          }
          &:hover {
            &:after {
              content: 'Chaveiro';
            }
          }
        }
        .limpeza {
          top: 205px;
          left: 369px;
          @media (min-width: 1600px) {
            top: 37%;
            left: 29%;
          }
          &:hover {
            &:after {
              content: 'Limpeza';
            }
          }
        }
      }
    }
  }
}

.modal-help {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 45%;
  bottom: 0;
  background-color: #f4f4f5;
  padding: 7rem 1rem 5rem 4rem;

  &.active {
    display: block;
  }

  a {
    display: block;
    background-color: #20497d;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 4rem;
  }

  h2 {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
  }

  li {
    padding: 0.5rem 0;
  }
}

.concorra-orange {
  background-color: #fa2400;
  padding: 12px 32px;
  margin-bottom: 12px;
  position: relative;
  height: 62px;

  p {
    color: #fff;
    line-height: 1.4;
    font-weight: 600;
    text-align: left !important;
    margin: 0 !important;

    &:first-child {
      text-transform: uppercase;
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 31px solid #fff;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
  }
}

.concorra-assistencia {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 14px;
  padding: 5px 32px;
  height: initial;

  &.other {
    margin-top: 24px;
  }

  &::after {
    border-right: 23px solid #fff;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
  }
}

.sorteio {
  background-color: #ff0000;
  border: none;
  margin: 180px auto;
  display: block;
  width: 250px;
  max-width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
}

.col-sm-3 {
  padding-top: 45px !important;
}

.row-fundooferta {
  height: 200px !important;
  margin-top: -125px !important;

  &.first {
    margin-top: -135px !important;
  }
}
