@charset "UTF-8";

.banner {
	margin-top: 10px;
}

.banner .bx-viewport {
	height: 720px !important;
}

.bxslider > li {
	height: 720px !important;
}

.bxslider > li > .item {
	height: 720px !important;
}

.bxslider > li > .item > img {
	height: 720px !important;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.bx-wrapper .item {
	max-width: 100% !important;
}


@media (min-width: 1600px) {
	.banner .bx-viewport {
		height: 720px !important;
	}
}

.navbar.active .partner-logos-block {
	height: 50%;
}

.partner-navbar {
	width: 80px;
}

.partner-navbar .partner-block {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.partner-navbar .partner-block .partner-title {
	font-size: 12px;
	color: #486994;
}

.partner-navbar .partner-block .partner-logos-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.partner-navbar .partner-block .partner-logos-block .partner-logo-item {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.partner-navbar .partner-block .partner-logos-block .partner-logo-item:not(:last-of-type) {
	margin-bottom: 5px;
}

.partner-navbar .partner-block .partner-logos-block .partner-logo-item.km-vantagens {
	width: 54px;
	height: 54px;
	background-image: url(../images/logo-km-vantagens.png);
}

.partner-navbar .partner-block .partner-logos-block .partner-logo-item.ipiranga {
	width: 54px;
	height: 16px;
	background-image: url(../images/posto-ipiranga-logo.png);
}

#bx-pager {
	width: 180px;
	position: absolute;
	top: 0;
	z-index: 9;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#bx-pager a {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bx-pager a.slide-btn {
	width: 41px;
	height: 41px;
	margin-bottom: 25px;
	padding: 5px;
}

#bx-pager a.slide-btn img {
	max-width: 100%;
	height: auto;
}

#bx-pager a.btn-truck {
	justify-content: flex-start;
	padding-left: 0;
}

.banner-home-1 .container,
.banner-home-1 .row {
	height: 100%;
}

.banner-home-1 .row {
	display: flex;
	align-items: center;
}

.banner-home-1 .banner-block-info {
	width: 476px;
	padding: 0;
	padding-top: 27px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	z-index: 9999;
}

.banner-home-1 .panel-top .panel-title {
	color: #fa2400;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size: 24.66px;
	margin-bottom: 15px;
}

.banner-home-1 .panel-content {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

.banner-home-1 .panel-content .panel-left,
  .banner-home-1 .panel-content .panel-right {
	width: 50%;
}

.banner-home-1 .panel-content .panel-left.panel-white-label,
    .banner-home-1 .panel-content .panel-right.panel-white-label {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.banner-home-1 .panel-block-content {
	padding: 0 32px;
	margin-bottom: 12px;
}

.banner-home-1 .panel-block-content.panel-align-right {
	padding: 0 32px 0 58px;
}

.banner-home-1 .panel-block-content img {
	margin: 0;
}

.banner-home-1 .panel-block-content.panel-img {
	padding-right: 0;
}

.banner-home-1 .panel-block-content.panel-block-moto {
	margin-bottom: 0;
	height: 50%;
	display: flex;
	align-items: center;
}

.banner-home-1 .panel-block-content.panel-block-moto .panel-list {
	margin-top: 0;
}

.banner-home-1 .blue-block {
	background-color: #20497d;
	padding: 13px 32px 9px;
	margin-bottom: 12px;
}

.banner-home-1 .blue-block .blue-text {
	color: #fff;
	font-size: 13px;
	line-height: 15px;
}

.banner-home-1 .blue-block .blue-text .blue-text-bold {
	font-size: 17px;
	font-weight: bold;
}

.banner-home-1 .blue-block .blue-text .value-text {
	font-size: 25px;
	line-height: 25px;
}

.banner-home-1 .panel-bottom-block .full-blue-block {
	background-color: #20497d;
	margin: 0 32px;
	padding: 6px 0;
	border: 1px solid transparent;
}

.banner-home-1 .panel-bottom-block .full-blue-block:hover {
	border-color: #20497d;
	background-color: #fff;
}

.banner-home-1 .panel-bottom-block .full-blue-block:hover .full-block-text {
	color: #20497d;
}

.banner-home-1 .panel-bottom-block .full-blue-block .full-block-text {
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.banner-home-1 .powerby-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-home-1 .powerby-block .power-text {
	font-size: 12px;
	color: #20497d;
	text-align: center;
	margin: 10px auto;
}

.banner-home-1 .powerby-block .power-brand {
	display: flex;
	padding-bottom: 12px;
	align-items: center;
}

.banner-home-1 .powerby-block .power-brand img:nth-of-type(1n) {
	margin-right: 11px;
}

.banner-home-1 .powerby-block .power-brand img:nth-of-type(2n) {
	margin-left: 11px;
}

.banner-home-1 .powerby-block .power-brand img:last-of-type {
	margin: auto;
}

.panel-list {
	list-style-image: url(../images/check.png);
	padding-left: 23px;
	margin-top: 20px;
}

.panel-list.panel-list-casa {
	margin-top: 30px;
}

.panel-list.panel-helpdesk .panel-list-item {
	font-size: 13px;
}

.panel-list .panel-list-item {
	color: #20497d;
	font-size: 16px;
}

.panel-modal {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	top: 25px;
	height: calc(100% - 50px);
}

.panel-modal *.modal-active {
	display: block;
}

.panel-modal .modal-top {
	background-color: #20497d;
	padding: 10px 26px;
}

.panel-modal .modal-top .modal-top-btn {
	display: flex;
	align-items: center;
	color: #fff;
	margin-right: 1px;
}

.panel-modal .modal-top .modal-top-btn:after {
	content: '';
	display: block;
	width: 17px;
	height: 12px;
	background-image: url(../images/seta.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.panel-modal .panel-modal-content {
	padding: 6px 16px 21px;
}

.panel-modal .panel-modal-content .panel-top-text {
	margin-bottom: 0;
	padding: 0 23px;
	color: #486994;
}

.panel-modal .panel-modal-content .panel-list-modal {
	margin-top: 11px;
}

.panel-modal .panel-modal-content .panel-list-modal .panel-list-item {
	font-size: 12px;
	margin-bottom: 10px;
}

.panel-modal .panel-modal-content .panel-list-modal .panel-list-item .item-small {
	font-size: 9.58px;
}

.panel-modal .panel-modal-content .panel-title {
	font-size: 12.5px;
	color: #486994;
	line-height: 14.58px;
	font-weight: 700;
	padding: 0;
}

.bx-wrapper .item.empresa .pontos .encanador {
	top: 100px;
	left: 635px;
}

@media (min-width: 1600px) {
	.bx-wrapper .item.empresa .pontos .encanador {
		top: 20%;
		left: 50%;
	}
}

.bx-wrapper .item.empresa .pontos .encanador:hover:after {
	content: 'Encanador';
}

.bx-wrapper .item.empresa .pontos .eletricista {
	top: 176px;
	left: 590px;
}

@media (min-width: 1600px) {
	.bx-wrapper .item.empresa .pontos .eletricista {
		top: 34%;
		left: 45%;
	}
}

.bx-wrapper .item.empresa .pontos .eletricista:hover:after {
	content: 'Eletricista';
}

.bx-wrapper .item.empresa .pontos .segurancavigilancia {
	top: 172px;
	left: 278px;
}

@media (min-width: 1600px) {
	.bx-wrapper .item.empresa .pontos .segurancavigilancia {
		top: 32%;
		left: 23%;
	}
}

.bx-wrapper .item.empresa .pontos .segurancavigilancia:hover:after {
	content: 'Segurança e Vigilância';
}

.bx-wrapper .item.empresa .pontos .chaveiro {
	top: 430px;
	left: 455px;
}

@media (min-width: 1600px) {
	.bx-wrapper .item.empresa .pontos .chaveiro {
		top: 80%;
		left: 36%;
	}
}

.bx-wrapper .item.empresa .pontos .chaveiro:hover:after {
	content: 'Chaveiro';
}

.bx-wrapper .item.empresa .pontos .limpeza {
	top: 205px;
	left: 369px;
}

@media (min-width: 1600px) {
	.bx-wrapper .item.empresa .pontos .limpeza {
		top: 37%;
		left: 29%;
	}
}

.bx-wrapper .item.empresa .pontos .limpeza:hover:after {
	content: 'Limpeza';
}

.modal-help {
  display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 45%;
	bottom: 0;
	background-color: #f4f4f5;
	padding: 7rem 1rem 5rem 4rem;
}

.modal-help.active {
  display: block;
}

.modal-help a {
	display: block;
	background-color: #20497d;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 1rem 4rem;
	display: flex;
	align-items: center;
}

.modal-help a::after {
	content: '';
	height: 16px;
	width: 25px;
	display: block;
	background: url('../images/seta.svg') no-repeat center center;
	background-size: contain;
	margin-left: 4px;
}

.modal-help h2 {
	padding: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
}

.modal-help li {
	padding: 0.5rem 0;
}

.col-sm-3 {
	padding-top: 45px !important;
}

.concorra-orange {
  background-color: #fa2400;
	padding: 12px 32px;
	margin-bottom: 12px;
	position: relative;
	height: 62px;
}

.concorra-orange p {
	color: #fff;
	line-height: 1.4;
	font-weight: 600;
	text-align: left !important;
	margin: 0 !important;
}

@media (max-width: 1199px) {

	.concorra-orange {
		padding-top: 14px;
	}

	.concorra-orange p {
		font-size: 12px;
	}
}

.concorra-orange p:first-child {
	text-transform: uppercase;
}

.concorra-orange::after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border-right: 31px solid #fff;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
}

.concorra-assistencia {
	margin-bottom: 0;
	padding-left: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.concorra-assistencia {
		padding-left: 15px;
		padding-top: 5px;
		margin-top: 26px;
	}

	.concorra-assistencia p {
		font-size: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.concorra-assistencia {
		margin-bottom: 0;
		padding-left: 20px;
	}
}

.concorra-assistencia::after {
	border-right: 32px solid #fff;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.sorteio {
	background-color: #FF0000;
	border: none;
	margin: 180px auto; 
	display: block;
	width: 250px;
	max-width: 100%;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 10px;
}

.concorra-col {
	background: #fff !important;
	position: relative;
}

.concorra-col::after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 32px;
	background: #fff; 
	right: -32px;
	top: 0;
}

.concorra-col img {
	margin: -17px 0 10px 30px !important;
	max-width: 225px;
}

/*@media (min-width: 768px) {
	.concorra-col img {
		width: 100% !important;
		max-width: 100% !important;
	}
} */

@media (max-width: 567px) {
	.loja.etapa-ofertaprod .plano.gratis {
    margin-bottom: 130px;
	}
}

@media (max-width: 767px) {
	.loja.etapa-ofertaprod .plano {
		margin-bottom: 130px;
	}
}
/*# sourceMappingURL=banner.css.map */
