.imagens-planos img{
  margin: 0 30px;
}

@media (max-width: 575.98px){
  .imagens-planos img{
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .imagens-planos img{
    margin: 0 14px;
    max-width: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .imagens-planos img{
    margin: 0 25px;
    max-width: 45px;
  }
}

.class-somar{
  font-size: 48px;
  color: black;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .class-somar{
    font-size: 35px;
    margin-top: 10px;
  }
}

.row-fundo{
  position: absolute;
  background-color: white;
  height: 250px;
  width: 90%;
  margin-top: -125px;
  top: 50%;
  left: 5%;
}

.img-carglass{
  max-width: 175px;
}

@media (max-width: 767.98px){
  .row-fundo{
    display: none;
  }
}

.etapa-carglass p {
  color: #525252;
  line-height: 1.42857;
  margin: 0 0 10px;
}

.etapa-carglass .btn-primary{
  width: 40%;
}

.etapa-carglass .text-center{
  font-size: 16px;
}

.etapa-carglass .text-center img{
  margin-bottom: 40px;
}

.etapa-carglass .text-center p{
  font-size: 16px;
  margin-bottom: 40px;
}

.etapa-carglass .col-sm-4{
  text-align: center;
  z-index: 2;
  background-color: lightgray;
  margin: 15px;
  width: 30%;
  padding: 25px 0 0;
}

.etapa-carglass .col-sm-8 {
  text-align: center;
  z-index: 2;
  margin: 30px 15px 15px;
  width: 63%;
  height: 302px;
}
.etapa-carglass .col-sm-8 h1 {
	margin: 60px 0 33px;
	padding-right: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .col-sm-4{
    margin: 10px;
  }
}

@media (max-width: 767.98px){
  .etapa-carglass .col-sm-4{
    margin: 0px 0px 65px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.etapa-carglass .col-sm-4:nth-child(1){
  background: unset;
  padding-top: 90px;
  padding-left: 50px;
}

@media (max-width: 767.98px){
  .etapa-carglass .col-sm-4:nth-child(1){
  	background-color: #FFFFFF;
    margin-bottom: 25px;
    padding-top: 0px;
  }
}

.etapa-carglass .col-sm-4:nth-child(1) span{
  color: #FF0000;
}

.etapa-carglass .col-sm-4:nth-child(1) p{
  font-size: 14px !important;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.etapa-carglass .col-sm-4 h4{
  color: black;
  margin: 0;
}

.etapa-carglass .col-sm-4 hr{
  width: 100px;
  margin-top: 5px;
  border: 1px solid #FF0000;
  font-size: 18px;
}

.etapa-carglass .col-sm-4 p:nth-child(1){
  /*font-size: 15px;*/
  margin-bottom: 0;
}

@media (max-width: 575.98px){
  .etapa-carglass .col-sm-4 p:nth-child(1){
    font-size: 14px;
  }
}

.etapa-carglass .p-line{
  position: relative;
  margin-bottom: 5px;
}

.etapa-carglass .p-line::after{
  border-bottom: 2px solid #FF0000;
  content: "";
  left: 50%;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  width: 125px;
  margin-left: -62.5px;
}

.etapa-carglass .col-sm-4 b{
  font-size: 16px;
}

.loja.etapa-carglass .div-btn-carglass{
  margin-bottom: -50px;
}
.loja.etapa-carglass .div-btn-carglass.comCarencia{
  margin-bottom: -59px;
}

.etapa-carglass .div-btn-carglass{
  margin-bottom: -54px;
}
.etapa-carglass .div-btn-carglass.comCarencia{
  margin-bottom: -69px;
}
.etapa-carglass .div-btn-carglass.comCarencia p{
  margin-bottom: 5px !important;
}

.etapa-carglass .div-btn-carglass .btn-etapa-carglass{
  margin-top: 0px;
  /*width: 125px;*/
}

.etapa-carglass .div-btn-carglass p{
  color: #FF0000;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.loja.etapa-carglass .div-btn-carglass p {
  color: #20497d;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 15px;
  cursor: pointer;
}
.loja.etapa-carglass .div-btn-carglass p:hover {
  color: #102540;
  text-decoration: none;
}

.etapa-carglass .btn-etapa-carglass{
  margin-top: 100px;
  width: 150px;
}

.etapa-carglass .plano-tranquilidade{
  display: inline-flex;
}

.etapa-carglass .plano-tranquilidade p:nth-child(1){
  margin: 15px 10px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(1){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(1){
    margin: 15px 5px;
    font-size: 12px;
  }
}

.etapa-carglass .plano-tranquilidade p:nth-child(3){
  margin: 15px 20px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 5px;
    font-size: 12px;
  }
  .etapa-carglass .col-sm-8 h1 {
	font-size: 2em;
	margin: 60px 0 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(3){
    margin: 15px 10px;
  }
  .etapa-carglass .col-sm-8 h1 {
	font-size: 2.4em;
	margin: 65px 0 40px;
  }
}

.etapa-carglass .plano-tranquilidade p:nth-child(5){
  margin: 15px 10px;
}

@media (max-width: 575.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(5){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-carglass .plano-tranquilidade p:nth-child(5){
    margin: 15px 5px;
    font-size: 12px;
  }
  .etapa-carglass .btn-primary{
  	width: 46%;
  }
}

.etapa-carglass .col-sm-4 .hr-2{
  width: 200px;
  border: 1px solid white;
  margin-top: 15px;
}

.etapa-carglass .modal .modal-header{
  border: none;
  padding: 0px;
}

.etapa-carglass .modal .modal-header .close{
  font-size: 60px;
  opacity: 1;
  color: #20497D;
}

.etapa-carglass .modal .modal-content{
  padding: 20px;
}

.etapa-carglass .modal .modal-content h3{
  text-align: center;
}

.etapa-carglass .btn-etapa-carglass.pular {
	background-color: #FFFFFF;
	color: #ff0000;
}
@media (min-width: 1200px) {
	.etapa-carglass .col-sm-4.plano.sempre-novo {
		margin-left: 25px;
  	}
}
@media (max-width: 767px) {
	.etapa-carglass .plano {
		height: 355px;
		margin-bottom: 80px;
	}
	.loja.etapa-carglass .plano {
		height: 323px;
		margin-bottom: 80px;
	}
	.etapa-carglass .btn-etapa-carglass {
	  	margin-top: 50px;
	}
	.etapa-carglass .col-sm-8 {
	  	width: 100%;
	  	margin: 0;
	}
}
@media (max-width: 567px){
  .etapa-carglass .col-sm-8 {
  	height: 402px;
  }
}
@media (max-width: 1024px){
  .loja.etapa-carglass .div-btn-carglass.comCarencia{
  	margin-bottom: -78px;
  }
  .etapa-carglass .div-btn-carglass.comCarencia{
  	margin-bottom: -87px;
  }
}

.etapa-carglass .div-chamada-ofertaprod {
    font-size: 23px;
    font-weight: 700;
    margin-top: -72px;
}
.etapa-carglass .btn-chamada {
    background-color: #ff0000;
    border-color: #e60000;
    color: #fff;
    width: 80%;
    cursor: initial;
}