
/* line 372, ../sass/parceiro.scss */
.footer-bg {
  background-color: #333333;
}

/* line 375, ../sass/parceiro.scss */
.footer {
  background-color: #333333;
  color: #cccccc;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
}
.footer .ajuda {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
  /* Small devices (desktops, 992px and up) */
}
@media (min-width: 768px) {
  .footer .ajuda {
    text-align: left;
  }
}

/* line 382, ../sass/parceiro.scss */
.footer .col-sm-3 {
  padding: 0 40px;
  margin-bottom: 20px;
}

/* line 386, ../sass/parceiro.scss */
.footer .endereco {
  color: #b3b3b3;
  border-top: 1px solid #b3b3b3;
  padding-top: 25px;
  margin-top: 50px;
}

/* line 393, ../sass/parceiro.scss */
.footer .cartoes {
  margin-left: 0;
  margin-right: 0;
}

.footer .cartoes .col-sm-3 {
  margin-bottom: 10px;
  padding: 0 5px;
}

/* line 397, ../sass/parceiro.scss */
.footer .cartoes .col-xs-offset-2 {
  clear: both;
  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
  /* line 397, ../sass/parceiro.scss */
  .footer .cartoes .col-xs-offset-2 {
    clear: none;
  }
}
/* line 405, ../sass/parceiro.scss */
.footer .pagamento {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
}
.footer .pagamento h3 {
  padding-left: 5px;
}

@media (min-width: 768px) {
  /* line 405, ../sass/parceiro.scss */
  .footer .pagamento {
    text-align: center;
  }
}
/* line 413, ../sass/parceiro.scss */
.footer .logointel img {
  margin-bottom: 20px;
}

/* line 418, ../sass/parceiro.scss */
.footer .braspag img {
  margin: 0 auto;
}

/* line 423, ../sass/parceiro.scss */
.footer h3 {
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  color: #fff;
}

/* line 429, ../sass/parceiro.scss */
.footer a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 435, ../sass/parceiro.scss */
.footer a:hover {
  text-decoration: none;
  color: #ff0000;
}

.footer p {
  margin-bottom: 10px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline;
  z-index: 9999;
}
