.imagens-planos img{
  margin: 0 30px;
}

@media (max-width: 575.98px){
  .imagens-planos img{
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .imagens-planos img{
    margin: 0 14px;
    max-width: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .imagens-planos img{
    margin: 0 25px;
    max-width: 45px;
  }
}

.class-somar{
  font-size: 48px;
  color: black;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .class-somar{
    font-size: 35px;
    margin-top: 10px;
  }
}

.row-fundooferta{
  position: absolute;
  background-color: white;
  height: 180px;
  width: 85%;
  margin-top: -115px;
  top: 60%;
  left: 5%;
}

.img-ofertaprod{
  max-width: 175px;
  margin-left: 50px;
  margin-top:-10px;
}

@media (max-width: 767.98px){
  .row-fundooferta{
    display: none;
  }
}

.etapa-ofertaprod p {
  color: #525252;
  line-height: 1.42857;
  margin: 0 0 10px;
}

.etapa-ofertaprod .btn-chamada{
  width: 80%;
  color: #fff;
  background-color: #FF0000;
  border-color: #e60000;
  cursor: initial;
}

.etapa-ofertaprod .btn-primary{
  width: 50%;
}

.etapa-ofertaprod .text-center{
  font-size: 16px;
}

.etapa-ofertaprod .text-center img{
  margin-bottom: 40px;
}

.etapa-ofertaprod .text-center p{
  font-size: 16px;
  margin-bottom: 40px;
}

.etapa-ofertaprod .col-sm-3{
  text-align: center;
  z-index: 2;
  background-color: lightgray;
  margin: 12px;
  width: 22%;
  padding: 20px 0 0;
}
.etapa-ofertaprod .col-sm-3 span.antes {
  position:relative;
}
.etapa-ofertaprod .col-sm-3 span.antes:after {
  content: '';
  height: 2px;
  background: #FF0000;
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55%;
}
@media (max-width: 1199px) {
  .etapa-ofertaprod .col-sm-3 span.antes:after {
      width: 110%;
      margin-left: -5px;
      left: 0;
  }
}

.etapa-ofertaprod .col-sm-8 {
  text-align: center;
  z-index: 2;
  margin: 15px;
  width: 63%;
  height: 302px;
}
.etapa-ofertaprod .col-sm-8 h1 {
	margin: 60px 0 33px;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-ofertaprod .col-sm-3{
    margin: 10px;
  }
}

@media (max-width: 767.98px){
  .etapa-ofertaprod .col-sm-3{
    margin: 0px 0px 65px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.etapa-ofertaprod .col-sm-3:nth-child(1){
  background: unset;
  padding-top: 60px;
}

@media (max-width: 767.98px){
  .etapa-ofertaprod .col-sm-3:nth-child(1){
    background-color: #FFFFFF;
    padding-top: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .img-ofertaprod {
    margin-left: 40px;
  }
  .img-ofertaprod {
    width: 115px !important;
  }
  .etapa-ofertaprod .col-sm-3:nth-child(1) {
  	padding-top: 100px;
  }
  .etapa-ofertaprod .col-sm-3 span.antes:after {
  	left: 0;
  	 width: 110%;
     margin-left: -5px;
  }
  .etapa-ofertaprod .btn-primary {
  	width: auto;
  }
}

.etapa-ofertaprod .col-sm-3:nth-child(1) span{
  color: #FF0000;
}

.etapa-ofertaprod .col-sm-3:nth-child(1) p{
  font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.etapa-ofertaprod .col-sm-3 h4{
  color: black;
  margin: 0;
}

.etapa-ofertaprod .col-sm-3 hr{
  width: 100px;
  margin-top: 5px;
  border: 1px solid #FF0000;
  font-size: 18px;
}

.etapa-ofertaprod .col-sm-3 p:nth-child(1){
  /*font-size: 15px;*/
  margin-bottom: 0;
}

@media (max-width: 575.98px){
  .etapa-ofertaprod .col-sm-3 p:nth-child(1){
    font-size: 14px;
  }
}

.etapa-ofertaprod .p-line{
  position: relative;
  margin-bottom: 5px;
}

.etapa-ofertaprod .p-line::after{
  border-bottom: 2px solid #FF0000;
  content: "";
  left: 50%;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  width: 125px;
  margin-left: -62.5px;
}

.etapa-ofertaprod .col-sm-3 b{
  font-size: 16px;
}

.etapa-ofertaprod .div-chamada-ofertaprod{
  margin-top: -116px;
  font-size: 23px;
  font-weight: 700;
}

.etapa-ofertaprod .div-chamada-ofertaprod .btn-etapa-ofertaprod{
  margin-top: 0px;
  width: 125px;
}

.etapa-ofertaprod .div-chamada-ofertaprod p{
  color: #FF0000;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.loja.etapa-ofertaprod .div-chamada-ofertaprod p {
  color: #20497d;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 15px;
  cursor: pointer;
}
.loja.etapa-ofertaprod .div-chamada-ofertaprod p:hover {
  color: #102540;
  text-decoration: none;
}

.etapa-ofertaprod .div-btn-ofertaprod{
  margin-bottom: -50px;
}
.etapa-ofertaprod .div-btn-ofertaprod.comCarencia{
  margin-bottom: -59px;
}
.etapa-ofertaprod .div-btn-ofertaprod.comCarencia p{
  margin-bottom: 5px !important;
}

.etapa-ofertaprod .div-btn-ofertaprod .btn-etapa-ofertaprod{
  margin-top: 0px;
  width: 125px;
}

.etapa-ofertaprod .div-btn-ofertaprod p{
  color: #FF0000;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.loja.etapa-ofertaprod .div-btn-ofertaprod p {
  color: #20497d;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 15px;
  cursor: pointer;
}
.loja.etapa-ofertaprod .div-btn-ofertaprod p:hover {
  color: #102540;
  text-decoration: none;
}

.etapa-ofertaprod .btn-etapa-ofertaprod{
  margin-top: 100px;
  width: 150px;
}

.etapa-ofertaprod .plano-assistencia{
  display: inline-flex;
}

.etapa-ofertaprod .plano-assistencia p:nth-child(1){
  margin: 15px 10px;
}


@media (max-width: 575.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(1){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(1){
    margin: 15px 5px;
    font-size: 12px;
  }
}

.etapa-ofertaprod .plano-assistencia p:nth-child(3){
  margin: 15px 20px;
}

@media (max-width: 575.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(3){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(3){
    margin: 15px 5px;
    font-size: 12px;
  }
  .etapa-ofertaprod .col-sm-8 h1 {
	font-size: 2em;
	margin: 60px 0 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(3){
    margin: 15px 10px;
  }
  .etapa-ofertaprod .col-sm-8 h1 {
	font-size: 2.4em;
	margin: 65px 0 40px;
  }
  .img-ofertaprod {
    margin-left: 40px;
  }
}

.etapa-ofertaprod .plano-assistencia p:nth-child(5){
  margin: 15px 10px;
}

@media (max-width: 575.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(5){
    margin: 15px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .etapa-ofertaprod .plano-assistencia p:nth-child(5){
    margin: 15px 5px;
    font-size: 12px;
  }
}

.etapa-ofertaprod .col-sm-3 .hr-2{
  width: 200px;
  border: 1px solid white;
  margin-top: 15px;
}

.etapa-ofertaprod .modal .modal-header{
  border: none;
  padding: 0px;
}

.etapa-ofertaprod .modal .modal-header .close{
  font-size: 60px;
  opacity: 1;
  color: #20497D;
}

.etapa-ofertaprod .modal .modal-content{
  padding: 20px;
}

.etapa-ofertaprod .modal .modal-content h3{
  text-align: center;
}

.etapa-ofertaprod .btn-etapa-ofertaprod.pular {
	background-color: #FFFFFF;
	color: #ff0000;
}
@media (min-width: 1200px) {
	.etapa-ofertaprod .col-sm-3.plano.sempre-novo {
		margin-left: 25px;
  	}
}
@media (max-width: 767px) {
	.etapa-ofertaprod .plano {
		height: 330px;
	}
	.loja.etapa-ofertaprod .plano {
		height: 215px;
	}
	.etapa-ofertaprod .btn-etapa-ofertaprod {
	  	margin-top: 50px;
	}
	.etapa-ofertaprod .col-sm-8 {
	  	width: 100%;
	  	margin: 0;
	}
}
@media (max-width: 567px){
  .etapa-ofertaprod .col-sm-8 {
  	height: 402px;
  }
  .loja.etapa-ofertaprod .plano.gratis {
	margin-bottom: 82px;
  }
}

.gratis .adquirir {
	background-color: #FF0000;
	border-color: #e60000;
}